.meanings {
	display: flex;
	flex-direction: column;

	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	height: 55vh;
	border: 4px solid #9e9e9e;
	border-radius: 4px;
	padding: 10px 15px;
	margin-top: 5px;
}

@media (max-width: 900px){
	.meanings {
		height: 60vh;
		margin-top: 20px;
		overflow-x: hidden;
	}
}

.subtitle {
	font-size: 3vw;
	font-family: 'Georama', sans-serif;
}
